*{

	margin:0;
	padding: 0;
}
.wrapper{

	width: 1200px;
	margin: auto;
	position: top;
	text-align: top;
}
body{


	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(imagee/download.jpg);
	height: 100vh;
	-webkit-background-size:cover;
	background-size: cover;
	background-position: center center;
	position: relative;
} 

} 
  .nav-area{
  	float: right;
  	list-style: none;
  	margin-top: 30px;

  }

  .nav-area li{

  	display: inline-block;
  	
  }
  .nav-area li a{
  	color: #CD853F;
  	text-decoration: none;
  	padding: 5px 20px;
  	font-family: poppins;
  	font-size: 20px;
  margin:right;

  }
  .nav-area li a:hover{ 
  	background:#FFC0CB; 
  	color: #333;
  }
.logo img{
	width: 200px;
	float: left;
	height:120px;
	
}

.welcome-text{

	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 35%;
	text-align: center;

}
.welcome-text h1{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 35px;
}
.welcome-text a{

 border:1px solid #fff;
 padding: 10px 25px;
 text-decoration: none;
 text-transform: uppercase;
 background:#CD853F;
 font-size: 14px;
 margin-top: 20px; 
 display: inline-block;
 color: #fff;
}
.welcome-text a:hover{
	background: #FFC0CB
	color: #333;
}